doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="with=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css")

    body 
        include ./partials/header.pug
        
        main.overflow-auto
            if flashMessages.length > 0
                each message in flashMessages
                    div.text-center.m-0#flashMessage(class=`alert alert-${message.class}`)=message.content

            .container.border-start.border-end.border-dark.border-3#containerPrincipal
                block content

        include ./partials/footer.pug
        script(src="js/index.js") 
