doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="with=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css")

    body 
        include ./partials/header.pug
        
        main
            if flashMessages.length > 0
                each message in flashMessages
                    div.text-center(class=`alert alert-${message.class}`)=message.content

            .container.shadow.h-100
                block content

        include ./partials/footer.pug
        script(src="js/index.js") 
