extends ./layouts/base.pug

block content 
    h2.text-center.pt-4 Venez tentez votre chance à notre grand jeu des patisseries

    .p-3.w-75.mt-3.m-auto.rounded.text-center  
        p De nombreux lots sont à gagner, rejoignez-nous vite !!
        a.btn.btn-info.me-3(href="/login") Se connecter
        a.btn.btn-primary(href="/register") Créer son compte 
        