header.bg-dark.bg-gradient.text-center.p-4 
    h1.mb-3
        a.text-white(href="/") Bienvenue au concours des boulangers
    
    a.btn.btn-success.me-3(href="/all-earnings") Tous les gagnants
    if session.user 
        a.btn.btn-primary.me-3(href="/play") Jouer
        a.btn.btn-info.me-3(href="/my-earnings") Mes patisseries
        a.btn.btn-danger(href="/logout") Se déconnecter