header.bg-dark.bg-gradient.text-center.p-4 
    h1 
        a.text-white(href="/") Bienvenue au concours des boulangers
    
        if session.user 
            a.btn.btn-danger.float-end.mt-2(href="/logout") Se déconnecter